#root {
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
  height: 100%;
}

.nav-details {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 30px;
}

.logo {
  margin-top: 365px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  left: -5px;
  width: 430px;
  position: absolute;
  border: 2px solid rgb(148, 112, 112);
  border-right: none;
}

.details-about,
.details-Itens,
.details-Products {
  display: flex;
  align-items: start;
  justify-content: start;
  width: 140px;
  right: 100px;
  position: relative;
}

ul {
  list-style: none;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;

}

li {
  width: 100px;


}

a {
  text-decoration: none;
  color: black;
    width: 100px;
    height: 40px;
  display: flex;
  align-items: center;

}

a:hover {
  color: white;
  transition: 0.3s;
  
}

ul:hover {
  background-color: rgb(156, 124, 124);
  border-radius: 12px;
  transition: 0.3s;
  color: white;
}
